@font-face {
    font-family: 'Ehsan_Designer_003';
    src: url('Ehsan_Designer_003.woff2') format('woff2'),
        url('Ehsan_Designer_003.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ehsan_Designer_001';
    src: url('Ehsan_Designer_001.woff2') format('woff2'),
        url('Ehsan_Designer_001.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

